apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-zecbjvvn
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-zecbjvvn:ada01255039dfdc0cea765cfb7e219965e0fd280@sha256:2591739301c2b501b487a65d3ac3d76209d67066bc562d8e456ef9c570d4f0e3
        name: container-image  
